# ======== Build ========
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

# ======== Visual Studio ========
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ======== Pacotes / Dependências ========
packages/
*.nupkg

# ======== Configurações temporárias ========
*.tmp
*.bak
*.swp

# ======== Outros ========
_ReSharper*/
*.DotSettings.user
